.header {
    padding: 80px;
    background-color: #ece7e7;



}


.navigation-link {

    text-decoration: none;
    margin-right: 50px;
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.navigation-link:hover {

    color: #2196F3;
}

.title {
    padding: 50px;
    text-decoration: none;
    margin-right: 50px;
    font-family: 'Raleway',
        sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #212121;
}

.web {
    font-family: 'Raleway',
        sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.contacts {
    padding: 50px 0px 50px 0px;
    margin-right: 50px;
    font-family: 'Roboto',
        sans-serif;
    color: #212121;
    text-align: right;
}

.contact {

    margin-right: 50px;
    color: #212121;
    text-decoration: none;
}

.contact:hover {
    color: #2196F3;
}