.header {
    padding: 80px;
    background-color: #FFFFFF;
}


.navigation-link {
    text-decoration: none;
    margin-right: 50px;
    font-family: 'Roboto',
    sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.navigation-link:hover {
    color: #2196F3;
}

.title {
    padding: 50px;
    text-decoration: none;
    margin-right: 50px;
    font-family: 'Raleway', 
    sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #212121;
}

.a-title {
    padding: 50px;
    text-decoration: none;
    margin-right: 50px;
    font-family: 'Raleway',
    sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.web {
    font-family: 'Raleway', 
    sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.contacts {
    padding: 50px 0px 50px 0px;
    margin-right: 50px;
    font-family: 'Roboto',
    sans-serif;
    color: #212121;
    text-align: right;
}

.contact {
   
    margin-right: 50px;
    color: #212121;
    text-decoration: none;
 }

.contact:hover {
     color: #2196F3;
}
 
.navigation {
  
}

.center {
    padding-top: 20px;
    width: auto;
    height: 600px;
    background-color: #2F303A;
}

.text {
    text-align: center;
    font-family: 'Roboto',
     sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button {
    background-color: #2196F3;
    border: 1px solid #2196F3;
    padding: 10px 20px;
    font-family: 'Roboto',
     sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.div {
    width: 700px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
}

.action {
    text-align: center;
}

.privileges {
    padding-top: 120px;
    margin: auto;
    width: auto;
    height: 300px;
    background-color: #FFFFFF;
}

.privilege {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
   
}

.privilege-text {
    text-align: left;
    margin-right: 30px;
    display: inline-block;
    justify-content: space-between;
    list-style: none;
    width: 270px;
    line-height: 75px;
    font-size: 32px;
}


.h3 {
    font-family: 'Roboto', 
    sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.text-h3 {
    font-family: 'Roboto',
    sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #212121;
}

.img{
    padding-top: 120px;
    width: auto;
    background-color: #FFFFFF;
    padding-bottom: 95px;

    
}

.h2 {
    margin-top: -80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.picture {
    text-align: center;

}

.img-li {
    display: inline-block;
    justify-content: space-between;
    margin: 30px;
    height: 290px;
    width: 370px;
    
}

.img-picture {

}

.team {
background-color: #F5F4FA;
padding-bottom: 95px;
text-align: center;
}

.h2-team {
    padding-top: 95px;
    margin: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.li-team {
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #ebe9e8;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    margin-right: 30px;

}

.all {
    justify-content: space-between;


}

.div-button {
    margin-right: 10px;
    text-align: center;
}

.first-button {
    margin-right: 10px;
    background-color: #2196F3;
    border: 1px solid #2196F3;
    padding: 10px 20px;
    font-family: 'Roboto',
        sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
}

.a-button {
    margin-right: 10px;
    background-color: #F5F4FA;
    border: 1px solid #F5F4FA;
    padding: 10px 20px;
    font-family: 'Roboto',
        sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #212121;
    border-radius: 4px;
    font-weight: 600;
}

.ul-portfolio {
    list-style: none;
    margin: 0 auto;

}

.portfolio {
    width: 1600px;
}




.li-team {
    margin-bottom: 30px;
}

.h3-team {}

.footer {
    
    background-color: #2F303A;
    height: 250px;
    width: auto;
    
}

.a-address {
   text-decoration: none;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: #FFFFFF;
}

.aa-address {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.li-address {
    list-style: none;
    

}

.div-footer {
   
    padding-left: 215px;
    padding-top: 60px;
}




